body {
  background-color: #ddd; }

p,
a {
  font: inherit;
  color: inherit; }

a {
  cursor: pointer;
  text-decoration: underline; }

a:hover {
  color: black; }

h1 {
  text-align-last: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px; }

h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 20px; }

nav {
  background-color: #3e588c;
  width: 98%;
  color: white;
  display: table;
  margin: 10px;
  border-radius: 10px; }

main {
  width: 100%;
  display: grid;
  height: 100%; }

footer {
  background-color: #333;
  position: relative;
  float: right;
  display: flex;
  color: white;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px; }

.my-name {
  text-align: center; }

.about-me {
  display: block; }

.what-am-i {
  padding: 20px 50px 20px; }

.wai {
  display: inline-grid; }

.wai-list {
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  visibility: hidden;
  line-height: 1.3;
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
  display: inline; }

.wai-list:nth-child(1) {
  animation: typing 0.5s steps(30, end);
  animation-delay: 0s;
  animation-fill-mode: forwards; }

.wai-list:nth-child(2) {
  animation: typing 0.5s steps(30, end);
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

.wai-list:nth-child(3) {
  animation: typing 0.5s steps(30, end);
  animation-delay: 1s;
  animation-fill-mode: forwards; }

.wai-list:nth-child(4) {
  animation: typing 0.5s steps(30, end);
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

.wai-list:nth-child(5) {
  animation: typing 0.5s steps(30, end);
  animation-delay: 2s;
  animation-fill-mode: forwards; }

.wai-list:last-child {
  border-right: 4px solid white;
  animation: typing 0.5s steps(30, end), blink 1s step-end infinite;
  animation-delay: 2.5s;
  animation-fill-mode: forwards; }

.where-am-i,
.social {
  padding: 10px 40px;
  font-size: large;
  line-height: 2;
  text-align: center; }

.social {
  background-image: radial-gradient(grey, black);
  margin: 25px;
  padding: 10px 20px;
  border-radius: 40px; }

.social-visit {
  text-align: center;
  font-size: 20px;
  line-height: 1;
  padding-top: 30px; }

.social ul {
  display: flex;
  justify-content: space-around;
  padding: 30px 0; }

.medium:hover {
  color: black; }

.twitter:hover {
  color: #1da1f2; }

.linkedin:hover {
  color: #007bb5; }

.github:hover {
  color: #211F1F; }

.fa-size {
  font-size: 2em; }

.header {
  background-color: #637aa6;
  color: white;
  width: 100%;
  max-width: 98%;
  margin: 10px auto auto auto;
  border-radius: 10px; }

.about {
  margin: 30px;
  line-height: 1.2;
  font-size: 20px; }

.page-1 {
  width: 100%;
  height: auto; }

.project {
  width: 100%;
  height: auto;
  background-color: #8ca4d4;
  max-width: 98%;
  margin: 10px auto;
  border-radius: 10px;
  color: white; }

.project-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.project-desc {
  margin: 0 20px 20px;
  padding-bottom: 20px;
  line-height: 1.2;
  font-size: 20px; }

.project-link {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px; }

.project-image {
  width: 100%; }

.project-image2 {
  width: 49%;
  height: 100px;
  padding-top: 4px; }

.project-image3 {
  width: 98%;
  height: 200px; }

.project-video {
  display: none; }

@media (min-width: 440px) {
  .my-name {
    font-size: 24px; }

  .about-me {
    display: flex;
    justify-content: space-around; }

  .project-image2 {
    height: 200px; }

  .project-image3 {
    height: 400px; } }
@media (min-width: 1150px) {
  nav {
    float: left;
    position: fixed;
    width: 18%;
    height: 98%; }

  main {
    position: relative;
    float: right;
    width: 80%; }

  footer {
    float: right;
    display: flex;
    width: 80%; }

  .my-name {
    font-size: 25px; }

  .about-me {
    display: block; }

  .what-am-i {
    margin: auto;
    width: auto; }

  .fa-size {
    font-size: 1em; }

  .wai-list {
    line-height: 2;
    font-size: 13px; }

  .project-image {
    display: none; }

  .project-video {
    width: 100%;
    height: 800px;
    background-color: white;
    display: inherit; } }
@media (min-width: 1200px) {
  .fa-size {
    font-size: 1.5em; }

  .wai-list {
    font-size: 15px; }

  .project {
    width: 100%;
    max-width: 48%; } }
@media (min-width: 1300px) {
  .wai-list {
    font-size: 17px; } }
@media (min-width: 1400px) {
  .fa-size {
    font-size: 2em; }

  .wai-list {
    font-size: 19px; } }
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; }
  100% {
    visibility: visible; } }
@keyframes blink {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: white; } }
@keyframes fadeIn {
  99% {
    visibility: hidden; }
  100% {
    visibility: visible; } }

/*# sourceMappingURL=styles.css.map */
