$grey: #7e7b86;
$orange: #ff5733;
$black: #333;
$light-blue: #0f9dbc;
$green: #15df34;
$yellow: #a0bc06;
$purple: #8604c6;
$red: #f10202;
$cadetblue: #5f9ea0;
$lightslategray: #778899;
$deepskyblue: #00bfff;
$darkslategray: #2f4f4f;
$navy: #000080;
$dimgray: #696969;
$darkcyan: #008b8b;
$anime-time: 0.5s;

p,
a {
  font: inherit;
  color: inherit;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

h1 {
  text-align-last: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

nav {
  background-image: radial-gradient(circle at top left, #2a2a2a 0%, #7e7b86 70%, #cbcbcb 100%);
  width: 100%;
  color: white;
  display: table;
}

main {
  width: 100%;
  display: grid;
  height: 100%
}

footer {
  background-color: $black;
  position: relative;
  float: right;
  display: flex;
  color: white;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.what-am-i {
  padding: 50px 50px 30px;
  width: 100%;
}

.wai {
  display: inline-grid;
}

.wai-list {
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  visibility: hidden;
  line-height: 1.3;
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
  display: inline;
}

@for $i from 0 to 5{
  .wai-list:nth-child(#{$i+1}) {
    animation: typing $anime-time steps(30, end);
    animation-delay: #{$i*0.5}s;
    animation-fill-mode: forwards;
  }
}

.wai-list:last-child {
  border-right: 4px solid white;
  animation: typing $anime-time steps(30, end), blink 1s step-end infinite;
  animation-delay: (5*$anime-time);
  animation-fill-mode: forwards;
}

.where-am-i,
.social {
  padding: 10px 40px;
  font-size: large;
  line-height: 2;
}

.social ul {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.header {
  background-color: $light-blue;
  color: #fff;
  width: 100%;
}

.about {
  margin: 30px;
  line-height: 1.2;
  font-size: 20px;
}

.page-1 {
  width: 100%;
  height: auto;
}

.project {
  width: 100%;
  height: auto;
  color: white;
}

.project-desc {
  margin: 0 20px 20px;
  padding-bottom: 20px;
  line-height: 1.2;
  font-size: 20px;
}

.project-link {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.project-image {
  width: 100%;
}

.project-video {
  display: none;
}

$colors: (
  one: $cadetblue,
  two: $lightslategray,
  three: $deepskyblue,
  four: $darkslategray,
  five: $navy,
  six: $dimgray,
  seven: $darkcyan,
  );

@each $class, $bgcolor in $colors {
  .#{$class} {
    background-color: $bgcolor;
  }
}


@media (min-width: 768px) {

  nav {
    float: left;
    position: fixed;
    width: (100%/5);
    height: 100%;
  }

  main {
    position: relative;
    float: right;
    width: (4*100%/5);
  }

  footer {
    float: right;
    display: flex;
    width: (4*100%/5);
  }

  .what-am-i {
    margin-top: 60px;
    width: auto;
  }

  .wai-list {
    line-height: 2;
  }

  .project-image {
    display: none;
  }

  .project-video {
    width: 100%;
    height: 800px;
    background-color: white;
    display: inherit;
  }

}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }

  100% {
    visibility: visible;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}
